.header {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    max-width: 840px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  &__logo {
    --logoPaddingX: 30px;
    margin-left: calc(0px - var(--logoPaddingX));
    padding: 0 var(--logoPaddingX);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  
    transition: color 0.3s;

    &:hover {
      color: #ff0;
    }
  }
}