html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.page {
  margin: 0;
}

.page__header {
  position: sticky;
  top: 0;
}

.page__footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
}

.container {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo {
  --logoPaddingX: 30px;
  margin-left: calc(0px - var(--logoPaddingX));
  padding: 0 var(--logoPaddingX);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  transition: color 0.3s;
}

.header__logo:hover {
  color: #ff0;
}

/* #region Nav */
.nav {
  --navLinkPaddingX: 25px;
}

.nav__toggler {
  display: block;
  margin: 0 20px;
  padding: 10px 5px;

  color: #fff;
  font-size: 20px;

  transition: color 0.3s;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.nav__toggler:hover {
  color: #1fc8db;
}

.nav__toggler::before {
  content: '=';
}

.nav--open .nav__toggler::before {
  content: 'x';
}

@media (min-width: 640px) {
  .nav__toggler {
    display: none;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  height: 0;
  margin: 0 calc(0px - var(--navLinkPaddingX));
  padding: 0;

  list-style: none;
  overflow: hidden;
}

.nav--open .nav__list {
  height: auto;
}

@media (min-width: 640px) {
  .nav__list {
    flex-direction: row;
    height: auto
  }
}

.nav__link {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  height: 50px;
  padding: 0 var(--navLinkPaddingX);

  font-size: 20px;
  color: #fff;
  text-decoration: none;

  transition: color 0.3s;
}

.nav__link:hover {
  color: #1fc8db;
}
/* #endregion */

.main {
  padding: 10px 0;
  background-color: antiquewhite;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;

  text-align: center;
  color: #fff;

  background-image: url("https://mate-academy.github.io/fe-program/assets/MA_bottom.jpg");
  background-size: cover;
  background-position: top;
}
