@mixin onDesktop {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin fontSize($size) {
  font-size: $size;
  line-height: $size + 2;
}

%test {
  height: 100px;
  width: 200px;
}

%test2 {
  height: 100px;
  width: 200px;
}